<head>
    <style>
        h3{
            font-size :28px;
            line-height: 140%;
            
        }
        
        p1{
            font-size: 15px;
            font-family: 'Sunflower', sans-serif;
        }
        p2, p3,p4{
            font-size :25px;
            line-height: 140%;
            font-family: 'Poor Story', cursive;
        }
    </style>
</head>


<h1>이용규칙</h1>
<p1>RULE</p1>
<br><br><br><br><br>
<h3><재활용품 거래></h3><br>
<p2>재활용품 페이지(구해요, 나눠요)의 등록자들은 게시글에 대한 거래가 완료되었을 시에,<br>
해당 게시글을 <span style="color:hsl(0, 100%, 75%)">거래완료로 전환</span>해 주시길 바랍니다.</p2>
<br><br><br>
<h3><마이포인트제도></h3><br>
<p3>재활용품을 기부하는 사용자에게는 거래완료한 재활용품(게시글 기준)에 한하여, <span style="color:hsl(0, 100%, 75%)">포인트가 ?점씩 적립</span>됩니다. <br>
적립된 포인트는 사용자가 판매되는 DIY제품을 구매할 시에, 적립금을 사용할 수 있습니다.<br><br>

<span style="color:#3cb371">주의)재활용품 페이지에 게시글이 작성되기만 하면 되는 것이 아닌, 타 사용자와 거래가 완료되어야 합니다.</span> </p3>
<br><br><br>

<h3><판매></h3><br>
<p4>DIY제품의 판매는 판매 의지가 있는 모든 사용자가 등록할 수 있습니다. <br>
제품에 대한 설명이 충분히 기재되어야 하며, 판매상품으로 적합하지 않은 제품은 관리자가 임의로 삭제할 수 있다는 것을 기억해 주시기 바랍니다. 
<br><br><span style="color:#3cb371">주의) 판매 글을 등록시, 판매자의 연락처(카톡 ID, 전화번호 등)를 필수적으로 기입해주시길 바랍니다.</span> </p4>


