<h1 align="center">~ 판매 ~</h1><br>

<div align="right">
    <%= link_to '판매 등록', new_sell_path , :class => "button"%>
</div>

<div class="container">
  <% @sells.each do |sell| %>
    <div class="thumbnail" align="center">
      <a href="/sells/<%=sell.id%>">
        <img src="/assets/hi.png" alt="thumbnail" style="width: 200px; height: 210px;">
        <div class="caption">
          <h3><%= sell.title %></h3>
          <p><%= sell. content %></p>
        </div>
      </a>
    </div>
  <% end %>
</div>



<script>
  var container = document.querySelector( '#container' );
  var msnry = new Masonry( container, {
    // options
    columnWidth: 100,
    itemSelector: '.item',
  } );
</script>

